name: Docker image

on:
  push:
    branches: [ "main" ]
    paths:
      - "Dockerfile"
      - "say.R"
      - ".github/workflows/docker-image.yml"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version tag
        id: version
        run: echo "version=0.1.${GITHUB_RUN_NUMBER}" >> $GITHUB_OUTPUT

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            rish0508/dsci310-ia3-rish0508-docker:${{ steps.version.outputs.version }}
            rish0508/dsci310-ia3-rish0508-docker:latest
